.main{
    position: absolute;
    top: 433px;
    left: 201px;
    width: 1518px;
    height: 214px;
    text-align: center;
    font-weight: bold;
    font-size: 90px;
    font-family: SFpro;
    letter-spacing: 0px;
    color: #E5DFD8;
    opacity: 1;
}

.main > p , .content > p{
    margin: 0;
    padding: 0;
}

.content{
    position: absolute;
    top: 809px;
    left: 532px;
    width: 857px;
    height: 38px;
    text-align: left;
    font: normal normal 600 30px/36px SFpro ;
    letter-spacing: 0px;
    color: #AAA6A1;
    opacity: 1;
}

.downArrow{
    position: absolute;
    top: 943px;
    left: 928px;
    width: 57px;
    height: 62px;
    background: transparent url('../images/downArrow.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}